*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  color: aliceblue;
  text-decoration: none;
  text-shadow: black;
}
li {
  list-style: none;
}
.mini_header {
  display: flex;
  height: 200px;
  background: salmon;
}
.mini_header_content {
  display: flex;
  justify-content: space-between;
  width: 550px;
  height: 50px;
  align-items: center;
}
.nav_link_ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 550px;
  flex: 1.5;
}
.nav_link_item {
  padding: 10px;
  justify-content: space-between;
}
.user_con signin {
  display: flex;
}
.nav_user_center {
  display: flex;
  flex-shrink: 0;
}
.nav_user_center > div {
  margin-left: 10px;
}
.signin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 600px;
}
.signin_item {
  margin-top: 5px;
  flex: 1.5;
  padding: 10px;
}
.contribute_btn {
  margin-top: 5px;
  padding: 5px;
  width: 50px;
  height: 30px;
  line-height: 30px;
  background-color: pink;
  border-radius: 4px;
}
.contribute_text {
  text-indent: 1em;
}
.nav_search_keyword {
  margin-top: 10px;
  flex: 1;
  padding: 10px;
  width: 200px;
}
.search_icon {
  width: 50px;
  height: 50px;
}
.search_icon_img {
  border-radius: 50%;
}
.center_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.center_wrap > .beginner {
  height: 100px;
  line-height: 100px;
}
.beginner > .beginner_fast_pick {
  width: 400px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.beginner_fast_pick > .fast_pick_item {
  width: 100px;
  text-align: center;
  position: relative;
}
.fast_pick_item > img {
  border-radius: 50%;
}
.fast_pick_item > span {
  position: absolute;
  top: 70px;
}

.beginner > .sorts_district{
    width: 900px;
}
