*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  text-decoration: none;
 
}
li{
    list-style: none;
}
.mini_header_content {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
 
  height: 36px;
  line-height: 36px;
  padding: 10px 24px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.mini_header_content > ul {
    flex-shrink: 0;
  margin-right: 20px;
}
.nav_link_item,
.signin_item {   
padding-right: 10px;
  float: left;
  text-align: center;
}
.signin_item {
  float: left;
}
.contribute_btn {
  display: inline-block;
  margin-top: 5px;
  padding: 5px;
  width: 50px;
  height: 30px;
  line-height: 30px;
  background-color: pink;
  border-radius: 4px;
  text-align: center;
}
.nav_search {
  width: 400px;
  height: 30px;
  border-radius: 2px;
  background-color: #f2f2f5;
  display: flex;
  border: 1px solid rgba(0,0,0,0.2);
 
}
.nav_search_keyword {
  float: left;
  flex: 10;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  outline: none;
  border-style: none;
  box-sizing: border-box;
}
.nav_search_btn {
  width: 30px;
  flex: 1;
  border-style: none;
  background: url(../img/search.png) no-repeat;
}
.search_icon {
  display: inline-block;
}
.search_icon_img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: inline-block;
  line-height: 36px;
}
.page{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #d2e9fb;
    padding-top: 10px;
    height: 100%;
}
.left_column{
    width: 224px;
    
    margin-right: 10px;
}
.information_box{
    height: 188px;
    position: relative;
    background-color: #ffffff;
}
#information_background{
    width: 224px; 
}
.me_box{
    position: absolute;
    left:20px;
    top:30%;
    height: 56px;
    line-height: 56px;
}
#my_name{
    font-size: 0.9em;
    vertical-align: top;
    padding-left: 5px;
}
#me_pic{
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.my_relative_box{
    display: flex;
    width:224px;
    justify-content: space-evenly;
    position: absolute;
    bottom: 10%;
}
.relative_item>.relative_number{
font-weight: bold;
}
.relative_item>.relative_type{
    color: silver;
    font-size: 0.5em;
}